<nav class="bg-gray-800 p-4 text-white">
  <div class="container mx-auto flex justify-between items-center">
    <a
      class="text-xl font-semibold"
      routerLink="/"
      routerLinkActive="router-link-active"
      >BookLib</a
    >
    <div>
      <a routerLink="/" class="mr-6">Home</a>
      <a routerLink="/search" class="mr-6">Search</a>
      <a routerLink="/wishlist"
        >Wishlist
        <span
          class="ml-2 rounded-full bg-red-500 text-white px-2 py-1"
          *ngIf="wishlistCount$ | async as count"
        >
          <ng-container *ngIf="count !== null">{{ count }}</ng-container>
        </span>
      </a>
    </div>
  </div>
</nav>
